 body{
      font-family: 'Mountains of Christmas', cursive;
      /*background-image: url();*/
  }

.jumbotron{
    text-align: center;
    background:url(../../images/header-background.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: white;
    font-weight: bolder;
    text-shadow: 2px 2px 8px rgb(8, 8, 8);
    }

#map0 {
    height: 300px;
    width: 300px;
    }

#map1 {
    height: 300px;
    width: 300px;
    }

#map2 {
    height: 300px;
    width: 300px;
    }

#map3 {
        height: 300px;
        width: 300px;
    }
  
#map4 {
      height: 300px;
      width: 300px;
    }



