 body{
      font-family: 'Mountains of Christmas', cursive;
  }

.jumbotron{
    text-align: center;
    background:url(../../images/header-background.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%; 
    /*padding-top: -300px;*/
    color: white;
    font-weight: bolder;
    text-shadow: 2px 2px 8px rgb(8, 8, 8);
    }

    body{
        font-family: 'Mountains of Christmas', cursive;
    }
  
 .map-div {
      height: 400px;

   }
  #map {
      height: 400px;
      width: 400px;
  }

